*,
*::before,
*::after {
  padding: 0;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}

:root {
  --font-size: 32px;
}

.blue-theme {
  --main-bg: hsl(222, 26%, 31%);
  --keypad-bg: hsl(223, 31%, 20%);
  --screen-bg: hsl(224, 36%, 15%);
  --key-bg: hsl(225, 21%, 49%);
  --key-sh: hsl(224, 28%, 35%);
  --primary-bg: hsl(30, 25%, 89%);
  --primary-sh: hsl(28, 16%, 65%);
  --secondary-bg: hsl(6, 63%, 50%);
  --secondary-sh: hsl(6, 70%, 34%);
  --text-clr: hsl(221, 14%, 31%);
  --logo-clr: #ffffff;
  --white-clr: #ffffff;
}

.light-theme {
  --main-bg: hsl(0, 0%, 90%);
  --keypad-bg: hsl(0, 5%, 81%);
  --screen-bg: hsl(0, 0%, 93%);
  --key-bg: hsl(185, 42%, 37%);
  --key-sh: hsl(185, 58%, 25%);
  --primary-bg: hsl(45, 7%, 89%);
  --primary-sh: hsl(35, 11%, 61%);
  --secondary-bg: hsl(25, 98%, 40%);
  --secondary-sh: hsl(25, 99%, 27%);
  --logo-clr: hsl(60, 10%, 19%);
  --text-clr: hsl(60, 10%, 19%);
  --white-clr: #ffffff;
}

.violet-theme {
  --main-bg: hsl(268, 75%, 9%);
  --keypad-bg: hsl(268, 71%, 12%);
  --screen-bg: hsl(268, 71%, 12%);
  --key-bg: hsl(281, 89%, 26%);
  --key-sh: hsl(285, 91%, 52%);
  --primary-bg: hsl(268, 47%, 21%);
  --primary-sh: hsl(290, 70%, 36%);
  --secondary-bg: hsl(176, 100%, 44%);
  --secondary-sh: hsl(177, 92%, 70%);
  --logo-clr: hsl(52, 100%, 62%);
  --white-clr: #ffffff;
}

body {
  height: 100vh;
}

.container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--main-bg);
}

.container .calculator-wrapper {
  width: 90%;
  height: 90%;
}

.container .calculator-wrapper .calculator {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .calculator-wrapper .calculator header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .calculator-wrapper .calculator header .logo {
  color: var(--logo-clr);
  font-size: var(--font-size);
}

.container .calculator-wrapper .calculator header .switch {
  width: 35%;
  color: var(--logo-clr);
  font-size: 0.8rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .calculator-wrapper .calculator header .switch .switchers {
  position: relative;
  width: 55%;
  height: 1.3rem;
  border-radius: 20px;
  background: var(--keypad-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .calculator-wrapper .calculator header .switch .switchers button {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  all: unset;
  height: 100%;
  width: 100%;
  cursor: pointer;
  z-index: 1000;
}

.container .calculator-wrapper .calculator header .switch .switchers .b1::before {
  content: "1";
  position: absolute;
  top: -70%;
  left: 12.5%;
  color: var(--logo-clr);
}

.container .calculator-wrapper .calculator header .switch .switchers .b2::before {
  content: "2";
  position: absolute;
  top: -70%;
  left: 45%;
  color: var(--logo-clr);
}

.container .calculator-wrapper .calculator header .switch .switchers .b3::before {
  content: "3";
  position: absolute;
  top: -70%;
  left: 75%;
  color: var(--logo-clr);
}

.container .calculator-wrapper .calculator header .switch .switchers .current-theme {
  position: absolute;
  top: 50%;
  left: 25%;
  -webkit-transform: translate(-25%, -50%);
          transform: translate(-25%, -50%);
  height: 0.9rem;
  width: 0.9rem;
  background: var(--secondary-bg);
  border-radius: 50%;
  -webkit-transition: all 0.4s cubic-bezier(0, 0.1, 1, -0.2);
  transition: all 0.4s cubic-bezier(0, 0.1, 1, -0.2);
}

.container .calculator-wrapper .calculator .screen {
  width: 100%;
  height: 6rem;
  border-radius: 12px;
  background: var(--screen-bg);
  font-size: 3rem;
  color: var(--white-clr);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.2rem;
}

.container .calculator-wrapper .calculator .screen p {
  width: 100%;
  text-align: right;
  overflow: auto;
}

.container .calculator-wrapper .calculator .keypad {
  width: 100%;
  height: 72%;
  background: var(--keypad-bg);
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.8rem 1.6rem;
}

.container .calculator-wrapper .calculator .keypad .row1 {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .calculator-wrapper .calculator .keypad .row1 > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .calculator-wrapper .calculator .keypad .row1 > div > button {
  all: unset;
  color: var(--text-clr);
  background: var(--primary-bg);
  -webkit-box-shadow: 0 5px 0rem 0rem var(--primary-sh);
          box-shadow: 0 5px 0rem 0rem var(--primary-sh);
  width: 4rem;
  height: 4rem;
  text-align: center;
  border-radius: 3px;
  font-size: 2rem;
}

.container .calculator-wrapper .calculator .keypad .row1 > div .del {
  font-size: 1.4rem;
  text-transform: uppercase;
  background: var(--key-bg);
  -webkit-box-shadow: 0 5px 0rem 0rem var(--key-sh);
          box-shadow: 0 5px 0rem 0rem var(--key-sh);
  color: var(--white-clr);
}

.container .calculator-wrapper .calculator .keypad .row2 {
  width: 100%;
  height: 15%;
}

.container .calculator-wrapper .calculator .keypad .row2 div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .calculator-wrapper .calculator .keypad .row2 div button {
  all: unset;
  color: var(--white-clr);
  background: var(--secondary-bg);
  -webkit-box-shadow: 0 5px 0rem 0rem var(--secondary-sh);
          box-shadow: 0 5px 0rem 0rem var(--secondary-sh);
  width: 48%;
  height: 3.5rem;
  text-align: center;
  border-radius: 3px;
  font-size: 1.4rem;
}

.container .calculator-wrapper .calculator .keypad .row2 div .reset {
  font-size: 1.4rem;
  text-transform: uppercase;
  background: var(--key-bg);
  -webkit-box-shadow: 0 5px 0rem 0rem var(--key-sh);
          box-shadow: 0 5px 0rem 0rem var(--key-sh);
}

@media screen and (min-width: 480px) {
  .container {
    padding: 1.6rem 2rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 1rem 10rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 1rem 18rem;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0;
  }
  .container .calculator-wrapper {
    width: 32%;
    height: 78%;
  }
  .container .calculator-wrapper .calculator header .switch {
    width: 30%;
  }
  .container .calculator-wrapper .calculator header .switch .switchers {
    width: 50%;
  }
  .container .calculator-wrapper .calculator .screen {
    height: 7rem;
  }
  .container .calculator-wrapper .calculator .keypad {
    padding: 2rem 1.6rem;
  }
  .container .calculator-wrapper .calculator .keypad .row1 > div > button {
    width: 5.8rem;
    height: 3.6rem;
    font-size: 2.2rem;
    border-radius: 12px;
  }
  .container .calculator-wrapper .calculator .keypad .row2 {
    height: 12%;
  }
  .container .calculator-wrapper .calculator .keypad .row2 div button {
    width: 48%;
    height: 3rem;
    border-radius: 10px;
  }
}
/*# sourceMappingURL=style.css.map */